<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body>
  <div class="bg-white">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Carrinho JS-Vanilla</h2>

      <div class="flex">
        <!-- Produtos -->
        <div class="mt-6 grid grid-cols-2 gap-y-2 gap-x-2 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-2 store">
        </div>
        <!-- Produtos -->

        <!-- Carrinho -->
        <div class="mt-6 ml-3 flex flex-col justify-start ">
          <div class="car">
          </div>
          <div class="total-car">
            <!-- <h3 class="mt-3 font-bold">Total: R$3423</h3> -->
          </div>
        </div>
        <!-- Carrinho -->
      </div>
    </div>
  </div>

  <script src="./main.js"></script>
</body>

</html>